.yaxis path,.yaxis line,.xaxis path, .xaxis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #FEBD17;
}
.yaxis text,.xaxis text {
    font-family: sans-serif;
    font-size: 8px;
    stroke:#7a7a7a;
}
body {
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    line-height: 1.6;
    text-align: center;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 20px;
}

#tooltip {
	position: absolute;
	height: auto;
	padding: 0px 0px 5px 0px;
	background-color: #f0f0f0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	/*border-radius: 10px;*/
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	/*pointer-events: none;*/
	opacity: 0.8;
    overflow: auto;
}

#little {
    text-align: left;
    font-size: 0.8em;
    background-color: #8e8e8e;
}

.tuitText {
    color: black;
    font-size: 0.8em;
    text-align: left;
    margin: 0px 0px 1px 0px;
    background-color: white;
}

#chart {
    /*background-color: white;*/
    border-color: #312D2C;
    border-style: solid;
    border-width: 1px;
}